extends layout
block content
    div(class="container-fluid front-page")
        div(class="container-fluid")
            div(class="row")
                div(class="col-md-4")
                div(id="queryExplorer" class="col-md-4")
                    a(href="#")
                        img(src="images/QueryEditor.png" class="img-responsive img-rounded" alt="Query Explorer")
                div(class="col-md-4")
        div(class="container-fluid")
            div(class="row")
                div(id="queryBuilder" class="col-md-4")
                    a(href="#")
                        img(src="images/queryBuilder.png" class="img-responsive img-rounded" alt="Query Builder")
                div(class="col-md-4")
                div(id="graphEditor" class="col-md-4")
                    a(href="#")
                        img(src="images/graphEditor.png" class="img-responsive img-rounded" alt="Graph Editor")
