extends layout
block content
    div(class="container-fluid front-page")
        div(class="container-fluid")
            div(class="row")
                div(class="col-md-1")
                div(class="col-md-10")
                    form(id="metadata")
                        div(class="panel panel-success")
                            div(class="panel-heading")
                                h3(class="panel-title") Saved Queries
                            div(class="panel-body")
                                div(class="row")
                                    div(class="col-md-12  " id="savedQueries")
                                        table(class="table table-hover")
                                            thead
                                                tr
                                                    th Title
                                                    th Version
                                                    th Text
                                            tbody(id="savedQueriesTable")
    script(src='/javascripts/queryEditor.js')
    script(src='//code.jquery.com/ui/1.11.0/jquery-ui.min.js')