extends layout
block content
    div(class="container-fluid front-page")
        div(class="container-fluid")
            div(class="row")
                div(class="col-md-2")
                div(class="col-md-8")
                    form
                        fieldset
                            legend Graph Metadata
                                div(class="row")
                                    div(class="col-md-4" id="nodeTypes")
                                        label Node Types
                                        ul(class="list-group" id="nodeTypeList")
                                    div(class="col-md-4" id="relationships")
                                        label Relationships
                                        ul(class="list-group" id="relationshipList")
                div(class="col-md-2")
        div(class="container-fluid")
            div(class="row")
                div(class="col-md-2")
                div(class="col-md-8")
                    form(id="query")
                        fieldset
                            legend Query
                                div(name="builtQuery")
                        div(class="row" id="queryComponents")
                            div(class="col-md-3" name="node1")
                                label NODE 1 HERE
                                ul(class="list-group" id="node1List")
                                    li Party
                            div(class="col-md-3" name="rel1")
                                label Relationship 1 HERE
                                ul(class="list-group" id="rel1List")
                                    li HAS_RATING
                            div(class="col-md-3" name="node2")
                                label NODE 2 HERE
                                ul(class="list-group" id="node2List")
                                    li Rating
                            div(class="col-md-3" id="btnAdd")
                                button(id="addClause" type="submit" class="btn btn-default") Add Clause
                        button(id="executeQuery" type="submit" class="btn btn-default") Execute Query
                        button(id="saveQuery" type="submit" class="btn btn-default") Save Query As...
                div(class="col-md-2")
    script(src='/javascripts/queryBuilder.js')
    script(src='//code.jquery.com/ui/1.11.0/jquery-ui.min.js')