extends layout
block content
    div(class="container-fluid front-page")
        div(class="container-fluid")
            div(class="row")
                div(class="col-md-1")
                div(class="col-md-10")
                    form(id="metadata")
                        div(class="panel panel-success")
                            div(class="panel-heading")
                                h3(class="panel-title") Schemata
                            div(class="panel-body")
                                div(class="row")
                                    div(class="col-md-6" id="nodeTypes")
                                        h3 Node Types
                                        ul(class="list-group" id="nodeTypeList")
                                    div(class="col-md-6" id="relationships")
                                        h3 Relationships
                                        ul(class="list-group" id="relationshipList")
                div(class="col-md-1")
            div(class="row")
                div(class="col-md-2")
                div(class="col-md-8")
                    form(id="query")
                        div(class="row" id="queryComponents")
                        div(class="panel panel-info")
                            div(class="panel-heading")
                                h3(class="panel-title") Query
                            div(class="panel-body")
                                div(class="row" id="queryComponents")
                                    div(class="col-md-4" name="node1")
                                        h4 Subject
                                        ul(class="list-group entityConnect" id="node1List")
                                    div(class="col-md-4" name="rel1")
                                        h4 Relationship
                                        ul(class="list-group entityConnect" id="rel1List")
                                    div(class="col-md-4" name="node2")
                                        h4 Target
                                        ul(class="list-group entityConnect" id="node2List")
                div(class="col-md-2")
            div(class="row")
            form(id="controls")
                button(id="addClause" type="submit" class="btn btn-default") Add Clause
            div(class="row")
                button(id="executeQuery" type="submit" class="btn btn-default" data-toggle="modal" data-target="#executeGraphModal") Execute Query
                button(id="saveQuery" class="btn btn-default" data-toggle="modal" data-target="#saveQueryModal") Save Query As...
        div(class="modal fade" id="executeGraphModal")
            div(class="modal-dialog" id="modalContent")
                div(class="modal-content")
                    div(class="modal-header")
                        h4(class="modal-title") Query Preview
                    div(class="modal-body")
                        div(id="graph" class="model-body")
                    div(class="modal-footer")
                        button(type="button" class="btn btn-primary" data-dismiss="modal") Close
        div(class="modal fade" id="saveQueryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            div(class="modal-dialog")
                div(class="modal-content")
                    div(class="modal-header")
                        h4(class="modal-title" id="myModalLabel") Save Query
                    div(class="modal-body")
                        input(type="text" class="form-control" id="queryName" placeholder="Query Name...")
                    div(class="modal-footer")
                        button(type="button" class="btn btn-default" data-dismiss="modal") Close
                        button(type="button" class="btn btn-primary" id="querySave") Save
    script(src='/javascripts/QueryBuilder.js')