extends layout
block content
    div(class="container-fluid front-page")
        div(class="container-fluid")
            div(class="row")
                div(class="col-md-2" align="left")
                    li(class="nav-header" style="list-style: none; margin-left: 0; padding-left: 0;")
                        button(class="btn btn-default navbar-btn" data-toggle="collapse" data-target="#recentQueries" id="queries") Recent Queries
                        ul(style="list-style: none;" class="collapse" id="recentQueries")
                    li(class="nav-header" style="list-style: none;")
                        form(id="frmSearch" accept-charset="UTF-8" role="form")
                            fieldset
                                div(class="form-group")
                                    input(class="form-control" placeholder="Search by title..." name="searchInput" type="text")
                    li(class="nav-header" style="list-style: none;")
                        ul(style="list-style: none;" id="searchResults")
                div(class="col-md-10")
                    div(class="row")
                        div(class="col-md-6 col-md-offset-3")
                            h3 Query Details
                            div
                                form(id="signIn" accept-charset="UTF-8" role="form")
                                    fieldset
                                        div(class="form-group")
                                            input(class="form-control" placeholder="Title" name="qTitle" type="text" id="qTitle")
                                            input(class="form-control" placeholder="Version" name="qVersion" type="text" id="qVersion")
                                            input(class="form-control" placeholder="Text" name="qText" type="text" id="qText")
                                            table(class="table" id="qTriplets")
                                                thead
                                                    tr: th(colspan="100%") Triplets
                                                tbody
                                                    tr
                                                        td
                                                            input(class="form-control" placeholder="Source" name="qtSrc" type="text" id="qtSrc")
                                                        td
                                                            input(class="form-control" placeholder="Source Filter" name="qtSrcFlt" type="text" id="qtSrcFlt")
                                                        td
                                                    tr
                                                        td
                                                            input(class="form-control" placeholder="Relationship" name="qtRel" type="text" id="qtRel")
                                                        td
                                                            input(class="form-control" placeholder="Relationship Filter" name="qtRelFlt" type="text" id="qtRelFlt")
                                                    tr
                                                        td
                                                            input(class="form-control" placeholder="Target" name="qtTrg" type="text" id="qtTrg")
                                                        td
                                                            input(class="form-control" placeholder="Target Filter" name="qtTrgFlt" type="text" id="qtTrgFlt")
                                                    tr
                                                        td
                                                            input(id="btnSave" class="btn btn-default" type="submit" value="Save")
                                                        td
                                                            input(id="btnExecute" class="btn btn-default" type="submit" value="Execute")
                    div(class="row")
                        div(class="col-md-6 col-md-offset-3")
                            div(id="graph" style="background-color: #A3FFA3;")
    script(src='/javascripts/QueryEditor.js')