extends layout
block content
    div(class="container-fluid front-page")
        div(class="container-fluid")
            div(class="row")
                div(class="col-md-3" align="left")
                    li(class="nav-header" style="list-style: none; margin-left: 0; padding-left: 0;")
                        button(class="btn btn-default navbar-btn" data-toggle="collapse" data-target="#recentQueries" id="queries") Recent Queries
                        ul(style="list-style: none;" class="collapse" id="recentQueries")
                    li(class="nav-header" style="list-style: none;")
                        form(id="frmSearch" accept-charset="UTF-8" role="form")
                            fieldset
                                div(class="form-group")
                                    input(class="form-control" placeholder="Search by title..." name="searchInput" type="text")
                    li(class="nav-header" style="list-style: none;")
                        ul(style="list-style: none;" id="searchResults")
                div(class="col-md-9")
                    div(class="row")
                        div(class="col-md-6 col-md-offset-3")
                            table(class="table table-striped")
                                thead
                                    tr: th Query Details
                                tbody
                                    tr
                                        td Title
                                        td
                                            label(id="qTitle") Sample Query Title
                                    tr
                                        td Version
                                        td
                                            label(id="qVersion") Sample Query Version
                                    tr
                                        td Text
                                        td
                                            label(id="qText") Sample Query Text
                    div(class="row")
                        div(class="col-md-6 col-md-offset-3")
                            div(id="graph" style="background-color: #A3FFA3;")
    script(src='/javascripts/QueryEditor.js')